.filter {
  display: flex;
  justify-content: center;
}
.filter__completed-btn {
  margin: 0 10px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: white;
  color: #5047ff;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 2px 3px #5047ff;
}
.filter__completed-btn:active {
  background-color: #ececec;
}
